<h2>title</h2>
<mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let unit of building.unit_home;index as i" (click)="onClickUnit(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{i+1}}单元
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let item of unitRoomNumbers" class="list-item">{{item}}</div>

        <!-- <div class="itemContainer" [class.selected]="item == currentItem" *ngFor="let item of accountList"
            (click)="onItemClick(item); $event.stopPropagation()">
            <div class="account">{{ item.accountName }}:{{ item.account }}</div>

            <div class='item-btn-container' *ngIf="item.userID == user?.id">
                <div class="btn btnEdit" (click)="onEditStartAccount(item); $event.stopPropagation()"></div>
                <div class="btn btnDel" (click)="onDelete(item); $event.stopPropagation()"></div>
            </div>
        </div> -->
    </mat-expansion-panel>
</mat-accordion>