<div class="w100 flex">
    <button mat-flat-button color="primary" class="flex-1" (click)="onBack()">返回</button>
    <button mat-flat-button color="primary" class="flex-2">添加楼栋</button>
</div>

<h2>title</h2>
<mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let unit of building.unit_home;index as i" (click)="onClickUnit(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{i+1}}单元
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let item of unitRoomNumbers" class="list-item" (click)="onClickRoom(item);$event.stopPropagation();">{{item}}</div>
    </mat-expansion-panel>
</mat-accordion>