.root{
    display: flex;
    flex-wrap: wrap;
    .hosing {
        max-width: 100px;
        text-align: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }
}
