/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    border-radius: 0 !important;
    margin-right: 3px;
}

.w100 {
    width: 100%;
}

.flex{
    display: flex;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}

.line{
    height: 1px;
    width: 100%;
    background-color: black;
    margin: 2px 0;
}